table {
  width: 8em;
  border-radius: 10em;
  border-style: solid;
  border-width: 0.02em;
  border-color: #757de8;
}
th {
  background-color: #757de8;
}

.texto {
  color: white;
  text-align: center;
}